.country-list {
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        column-gap: 4%;
        row-gap: 4%;
        width: 100%;
    }

    &__card {
        width: 46%;
        margin-bottom: 24px;
        border-radius: 4px;
        background-color: #f5f5dc;
        box-shadow: 0 2px 5px rgba(0,0,0, .3);
        cursor: pointer;
        transition: all .3s ease;

        img {
            width: 100%;
            vertical-align: top;
            max-height: 20vw;
        }

        p {
            padding: 0 12px;
        }

        &:hover {
            background-color: #dadac4;
        }
    }
}