<h1>About us</h1>
<hr>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vero autem debitis accusamus, minima aut veritatis vitae tempora inventore reiciendis aperiam culpa similique ea eos ipsam itaque! Eligendi, numquam laboriosam?</p>
<br>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat consequuntur earum harum excepturi, maxime accusamus. Ut, molestias exercitationem iste fuga officia repudiandae, rerum in, sed eaque earum necessitatibus veritatis delectus!</p>

<div class="about-us__container">
    <div class="about-us__links">
        <a routerLink="first" routerLinkActive="active">First Component</a>
        <a routerLink="second" routerLinkActive="active">Second Component</a>
    </div>
    <router-outlet />
</div>


